body{
    background-image: linear-gradient(rgb(3, 99, 3), rgb(92, 189, 13), rgb(13, 63, 201));
    height: 100vh;
}
h1{
    color: red;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background: rgba(29, 91, 148, 0.884);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
}
div{
    width: 1080px;
    height: 720px;
    background: rgba(201, 218, 18, 0.795);
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
li{
   color: black; 
   font-size: 30px;
   font-family: sans-serif;
}
p{
    width: 800px;
    background: orange;
    text-align: left;
    word-spacing: 7px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;

}
audio{
    position: absolute;
    bottom: 0;
    right: 0;
}